<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TİCARİ_OTOMASYON.Properties.Settings.Ticari_OtomasyonConnectionString1"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=Ticari_Otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>